<!DOCTYPE html>
<html>
  <body>
    <% @till.menu[0]['prices'][0].each_key do |item| %>
      <div id= "<%=item%>">
        <%= item %> 
        <select>
          <% (0..20).each do |number| %>
            <option data-<%=item%>="<%=number%>">
              <%=number%>
            </option>
          <% end %>
        </select>
      </div>
    <% end %>
    <a href="/receipt">Compute</a>
    <a href="/reset">Reset</a>
  </body>
  <script>



  </script>
</html>